@use "./minxins" as *;
@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

p {
  margin-top: 0;
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

// NAVIGATION BAR
.header {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  text-align: center;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: start;
    justify-content: center;
    gap: 1rem;
    @include tablet {
      gap: 1.5rem;
    }
  }

  &__item {
    width: 50vw;
    text-align: center;
    @include tablet {
      width: 9vw;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $white;
    display: inline-block;
    width: 50vw;
    padding-bottom: 16px;
    color: $mercury;
    @include tablet {
      width: 9vw;
      padding-bottom: 28px;
    }
  }

  &__link:hover {
    border-bottom: 3px solid $white;
    color: $white;
    padding-bottom: 13px;
    @include tablet {
      padding-bottom: 25px;
    }
  }

  &__link:active {
    font-weight: bold;
    padding-bottom: 5px;
  }

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    padding: 1.75rem 2.25rem 0rem 2.25rem;
  }
}

.logo {
  margin-bottom: 1rem;
  @include tablet {
    margin-bottom: 0;
  }
}
