@use "./minxins" as *;
@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

// NAVIGATION BAR

.header {
  background-color: $bandsite-black;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }
    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: start;
    justify-content: center;
    @include tablet {
      gap: 1rem;
    }
  }

  &__item {
    width: 50vw;
    text-align: center;
    @include tablet {
      width: 73px;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    width: 50vw;
    color: $mercury;
    padding-bottom: 16px;
    @include tablet {
      width: 4.6rem;
      padding-bottom: 33px;
    }

    &:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }

    &:active {
      font-weight: bold;
    }
  }

  @include tablet {
    padding: 2.25rem 2.25rem 0rem 2.25rem;
  }
}
