@use "./minxins" as *;
@use "./variables" as *;
@use "./fonts" as *;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

body,
footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

h2,
h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.site-header {
  background-color: $bandsite-black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    width: 50vw;
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $white;
    display: inline-block;
    width: 50vw;
    padding-bottom: 0.5rem;
    color: $mercury;
  }

  &__link:hover {
    border-bottom: 3px solid $white;
    color: $white;
  }

  &__link:active {
    font-weight: bold;
  }

  &__img {
    margin-bottom: 1rem;
  }
}
