@use "./partials/variables" as *;
@use "./partials/minxins" as *;
@use "./partials/fonts" as *;
@use "./partials/global" as *;

//Header
.header__link--active {
  border-bottom: 3px solid $white;
}

// HERO
.hero-banner {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 45vh;

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
    @include desktop {
      margin: 0 auto;
      width: 1280px;
    }
  }
  @include tablet {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 50vh;
  }

  @include desktop {
    height: 60vh;
  }
}

// Main section
.main {
  margin: 0 1rem;

  &__container {
    @include desktop {
      margin: 0 auto;
      max-width: 1280px;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__vocalist {
    font-weight: bold;
  }

  &__detail {
    @include tablet {
      margin: 0 4rem;
    }
  }

  &__texts {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  @include tablet {
    margin: 0 2.25rem;
  }
}

// PHOTO GALLERY

.photo-gallery {
  padding: 1.5rem 1rem 1rem 1rem;
  color: $alabaster;

  &__img-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @include tablet {
      width: 31%;
    }
  }

  &__heading {
    color: $bandsite-darkblack;
    margin-top: 0;
  }

  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    margin-top: 0rem;
  }
  .photo-gallery__container {
    @include desktop {
      margin: 0 auto;
      max-width: 1280px;
    }
  }
}

//FOOTER
.footer {
  background-color: $bandsite-black;
  padding: 1.5rem 1rem 0 1rem;
  color: $white;
  overflow: hidden;

  &__container {
    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__heading,
  &__copy-right {
    margin-top: 0;
  }

  &__heading {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.25rem;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 2.25rem;
    }
    @include desktop {
      gap: 6rem;
    }
  }

  &__contact {
    width: 65%;
    @include tablet {
      width: 215px;
    }
    // @include desktop {
    //   width: 16%;
    // }
  }

  &__name {
    margin-bottom: 0;
  }

  &__department,
  &__name {
    font-weight: 600;
    margin-top: 0;
  }

  &__wrap {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      margin-bottom: 2.25rem;
    }
    @include desktop {
      gap: 6rem;
    }
  }

  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}

.logo {
  max-width: 120px;
  margin-bottom: 1rem;

  &__tablet-footer {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__mobile-footer {
    @include tablet {
      display: none;
    }
  }
}

.icons {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  @include tablet {
    gap: 1.5rem;
    margin-top: 1.6rem;
    margin-right: auto;

    .icon {
      @include tablet {
        height: 5vh;
        max-height: 28px;
      }
    }
  }
}
