@use "./partials/variables" as *;
@use "./partials/minxins" as *;
@use "./partials/fonts" as *;
@use "./partials/global" as *;

.header__link--active {
  border-bottom: 3px solid $white;
}

// HERO BANNER
.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/Images/hero-bio.jpg");
  height: 53vh;
  background-size: cover;
  align-items: center;
  display: flex;
  overflow: hidden;

  &__heading {
    color: $white;
    margin-left: 1rem;
    @include tablet {
      margin-left: 2.25rem;
    }
  }
}

// Main section
.main {
  margin: 0 1rem;

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__vocalist {
    font-weight: bold;
  }

  &__detail {
    @include tablet {
      margin: 0 4rem;
    }
  }

  &__texts {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1280px;
  }
}

// PHOTO GALLERY

.photo-gallery {
  margin: 0 1rem;
  color: $alabaster;
  margin-bottom: 1rem;

  &__img-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1.05rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @include tablet {
      width: 30%;
      margin-bottom: 1.2rem;
    }
  }

  &__heading {
    color: $bandsite-darkblack;
  }

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1280px;
  }
}

//SITE-FOOTER
.footer {
  background-color: $bandsite-black;
  padding: 1.5rem 1rem 0 1rem;
  color: $white;
  overflow: hidden;

  &__container {
    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__heading,
  &__copy-right {
    margin-top: 0;
  }

  &__heading {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
      align-items: flex-start;
    }
  }

  &__contact {
    width: 30%;
  }

  &__name {
    margin-bottom: 0;
  }

  &__department,
  &__name {
    font-weight: 600;
    margin-top: 0;
  }

  &__wrap {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 2.25rem;
    }
    @include desktop {
      display: flex;
      align-items: center;
      gap: 12rem;
    }
  }

  @include tablet {
    padding: 3rem 2.125rem 2rem 2.25rem;
  }
}

.icons {
  margin-bottom: 1.5rem;
  @include tablet {
    margin-bottom: 0.5rem;
  }
}

.icon {
  margin-right: 2rem;
  @include tablet {
    width: 2vw;
    max-width: 2rem;
  }
}
