@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf"), url("../../assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf"), url("../../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf"), url("../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.header {
  background-color: #323232;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
}
.header__link--active {
  border-bottom: 3px solid #ffffff;
}
.header__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .header__list {
    gap: 1rem;
  }
}
.header__item {
  width: 50vw;
  text-align: center;
}
@media (min-width: 768px) {
  .header__item {
    width: 73px;
  }
}
.header__link {
  text-decoration: none;
  display: inline-block;
  width: 50vw;
  color: #e1e1e1;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__link {
    width: 4.6rem;
    padding-bottom: 2.0625rem;
  }
}
.header__link:hover {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}
.header__link:active {
  font-weight: bold;
}
@media (min-width: 768px) {
  .header {
    padding: 2.25rem 2.25rem 0rem 2.25rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 0 1rem;
}
.hero__container {
  display: flex;
  align-items: center;
  height: 45vh;
}
@media (min-width: 768px) {
  .hero__container {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    height: 60vh;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.hero__heading, .hero__text {
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}

.footer {
  background-color: #323232;
  padding: 1.5rem 1rem 0 1rem;
  color: #ffffff;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .footer__container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.footer__heading, .footer__copy-right {
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__heading {
    margin-bottom: 0;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.25rem;
}
@media (min-width: 768px) {
  .footer__contacts {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__contacts {
    gap: 3.5rem;
  }
}
.footer__contact {
  width: 65%;
}
@media (min-width: 768px) {
  .footer__contact {
    width: 215px;
  }
}
.footer__name {
  margin-bottom: 0;
}
.footer__company, .footer__name {
  font-weight: 600;
  margin-top: 0;
}
.footer__address--smaller {
  width: 130px;
}
@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__wrap {
    gap: 3.8rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}

.logo {
  max-width: 120px;
  margin-bottom: 1rem;
}
.logo__tablet-footer {
  display: none;
}
@media (min-width: 768px) {
  .logo__tablet-footer {
    display: block;
  }
}
@media (min-width: 768px) {
  .logo__mobile-footer {
    display: none;
  }
}

.icons {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}
@media (min-width: 768px) {
  .icons {
    gap: 1.5rem;
    margin-top: 1.6rem;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .icons .icon {
    height: 5vh;
    max-height: 28px;
  }
}

.hero--shows {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-shows.jpg");
  background-position-y: 30%;
}
.hero__container--shows {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hero__container--shows {
    gap: 2.25rem;
    height: 70vh;
  }
}
@media (min-width: 1280px) {
  .hero__container--shows {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    height: 80vh;
  }
}
.hero__heading--shows {
  margin: 0;
  width: 220px;
}
@media (min-width: 768px) {
  .hero__heading--shows {
    width: 550px;
  }
}
.hero__text--shows {
  margin-bottom: 0;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hero__text--shows {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero__frame--shows {
  width: 100%;
  height: 20vh;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__frame--shows {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  .hero__frame--shows {
    padding-top: 2rem;
    width: 38%;
  }
}

.shows {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 1.125rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    display: flex;
    justify-content: space-between;
    gap: 9.3rem;
    margin: 0 auto;
    max-width: 1316px;
  }
}
@media (min-width: 1280px) {
  .shows__table {
    flex-grow: 1;
    margin-top: 4.0625rem;
  }
}
.shows__heading {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .shows__heading {
    padding-left: 1.125rem;
  }
}
.shows__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.shows__item {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .shows__item {
    padding: 1.5rem 1.125rem;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .shows__wrap {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .shows__wrap:first-child {
    flex: 1.3 1 0;
  }
}
.shows__sub-header {
  color: #afafaf;
  margin-top: 0;
  margin-bottom: 0.3rem;
}
@media (min-width: 768px) {
  .shows__sub-header {
    display: none;
  }
}
.shows__date-detail {
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__venue-detail, .shows__location-detail, .shows__date-detail {
    padding-top: 1.3rem;
  }
}
.shows__display-wrap {
  display: none;
}
@media (min-width: 768px) {
  .shows__display-wrap {
    display: flex;
    color: #afafaf;
    padding: 0 1rem;
  }
}
.shows__sub-header-display {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .shows__sub-header-display {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .shows__sub-header-display:first-child {
    flex-grow: 1.3;
  }
}
.shows__row-hover {
  background-color: #fafafa;
}
.shows__row-active {
  background-color: #e1e1e1;
}

.btn {
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .btn {
    padding: 0 2rem;
    width: 180px;
    margin-top: 0.6rem;
  }
}
.btn__visibility {
  visibility: hidden;
  height: 1px;
}/*# sourceMappingURL=show.css.map */